<section class="navbar">
  <div class="container" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="logo">
      <a href="#"><img src="assets/logo-192x192.png" alt="La Frontera Restaurant - Mexican Cuisine"></a>
    </div>
    <nav>
      <ul fxLayout="row">
        <li class="nav-item"><a href="#">Home</a></li>
        <li class="nav-item"><a href="#">Menu</a></li>
        <li class="nav-item"><a href="#">Gallery</a></li>
        <li class="nav-item"><a href="#">About Us</a></li>
        <li class="nav-item"><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
</section>